{% extends 'common/main.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>Eateries</h1>
                <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Eatery Name</th>
                        <th>Address</th>
                        <th class="text-center">Phone number</th>
                        <th class="text-center">Type</th>

                    </tr>
                </thead>
                <tbody>
                    {% for eatery in eateries %}
                    <tr>
                        <td class="col-sm-1 col-md-1">
                          <img src="{{ eatery.photo.url }}" width="275">
                        </td>
                        <td class="col-sm-1 col-md-1">
                          <h4><a href="/eatery/detail/{{ eatery.id }}/">{{ eatery.name }}</a></h4>
                        </td>
                        <td class="col-sm-1 col-md-1">
                            {{ eatery.address }}
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{ eatery.phone_number }}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><a href="/eatery/{{eatery.id}}/menu/" class="btn btn-default">View Menu >></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            </div>

        <hr>

        <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>

    </div><!--/.container-->
{% endblock %}