{% extends 'common/main.html' %}
{% load static %}
{% load socialaccount %}
{% load i18n %}

{% block content %}
    <!-- Carousel -->
    <div class="container" id="container">
      <div class="carousel slide" id="carousel">
        <!-- Carousel Indicators -->
        <ol class="carousel-indicators">
          <li class="active" data-target="#carousel" data-slide-to="0"></li>
          <li data-target="#carousel" data-slide-to="1"></li>
          <li data-target="#carousel" data-slide-to="2"></li>
        </ol>

        <!-- Slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="{% static 'site/images/carusel_sightseeing.jpg' %}" alt="">
            <div class="carousel-caption">
              <h3>First slide</h3>
              <p>Description of the first slide</p>
            </div>
          </div>
          <div class="item">
            <img class="second-slide" src="{% static 'site/images/carusel_eatery.jpg' %}" alt="Second slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>Eateries (Cafe, Restourant e.g. )</h1>
                <p>You can taste our national foods and foots another national foods.</p>
              </div>
            </div>
          </div>
          <div class="item">
            <img class="third-slide" src="{% static 'site/images/carusel_hotel.jpg' %}" alt="Third slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>Hotels!</h1>
                <p>If you need comfortable hotels. You can find them here.</p>
              </div>



            </div>
          </div>
        </div>

        <!-- Points for switching slides -->
        <a href="#carousel" class="left carousel-control" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a href="#carousel" class="right carousel-control" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>

      </div>

      <hr width="100%" color="red" id="hotel">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Here you can find hotels.</h2>
          <p class="lead"></p>
          <p><a class="btn btn-default" href="{% url 'hotels:list' %}" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{% static 'site/images/hotel.jpg' %}" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider" id="eatery">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Here you can find eateries.</h2>
          <p class="lead"></p>
          <p><a class="btn btn-default" href="/eatery/list/" role="button">View details &raquo;</a></p>
        </div>

        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="{% static 'site/images/eatery.jpg' %}">
        </div>
      </div>

      <hr class="featurette-divider" id="sightseeing">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Here you can find sightseeings.</h2>
          <p class="lead"></p>
          <p><a class="btn btn-default" href="/sightseeing/list/" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{% static 'site/images/sightseeing.jpg' %}">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

    </div>
    </div><!-- /.container -->

    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

{% endblock %}
